.article p code {
  display: inline-block;
  padding: 2px 6px;
  margin: -0.25em -1px;
  border-radius: 3px;
}

[data-color-scheme="light"] .article p code {
  background-color: hsl(var(--secondary));
  color: hsl(var(--secondary-foreground));
}

[data-color-scheme="dark"] .article p code {
  background-color: hsl(var(--secondary));
  color: hsl(var(--secondary-foreground));
}
