.message {
  text-align: center;
}

.character {
}

.cursor {
  background: hsl(var(--foreground));
  user-select: none;
  animation: opacityAnimation 1s infinite cubic-bezier(0.4, 0.2, 0.2, 1);
}

@keyframes opacityAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
