.author-time {
  color: hsl(var(--muted-foreground));
}

.author {
  font-style: normal;
  font-weight: bold;
}

.heading {
  transition: var(--title-hover-color-transition);
}

.heading:hover {
  color: hsl(var(--primary));
}