:root[data-theme='winter'] {
  color-scheme: light;

  --color-gray-0: white;
  --color-gray-100: hsla(210, 17%, 98%, 1);
  --color-gray-200: hsla(210, 16%, 93%, 1);
  --color-gray-300: hsla(210, 14%, 89%, 1);
  --color-gray-400: hsla(210, 14%, 83%, 1);
  --color-gray-500: hsla(210, 11%, 71%, 1);
  --color-gray-600: hsla(208, 7%, 46%, 1);
  --color-gray-700: hsla(210, 9%, 31%, 1);
  --color-gray-800: hsla(210, 10%, 23%, 1);
  --color-gray-900: hsla(210, 11%, 15%, 1);
  --color-gray-A: black;

  --color-primary-100: hsla(190, 77%, 88%, 1);
  --color-primary-200: hsla(190, 76%, 82%, 1);
  --color-primary-300: hsla(189, 75%, 75%, 1);
  --color-primary-400: hsla(190, 74%, 59%, 1);
  --color-primary-500: hsl(190, 100%, 42%);
  --color-primary-600: hsla(195, 100%, 39%, 1);
  --color-primary-700: hsl(201, 100%, 36%);
  --color-primary-800: hsla(214, 97%, 27%, 1);
  --color-primary-900: hsla(239, 94%, 19%, 1);

  --color-primary: var(--color-primary-500);
  --color-primary-contrast: black;
  --color-primary-hover: var(--color-primary-300);
  --color-primary-focus: var(--color-primary-700);

  --color-secondary-100: #fdcdba;
  --color-secondary-200: #fbae8e;
  --color-secondary-300: #fa8f60;
  --color-secondary-400: #f8773c;
  --color-secondary-500: #f76214;
  --color-secondary-600: #ec5b10;
  --color-secondary-700: #de540a;
  --color-secondary-800: #d14d07;
  --color-secondary-900: #b84000;

  --color-secondary: var(--color-secondary-500);
  --color-secondary-contrast: black;
  --color-secondary-hover: var(--color-secondary-300);
  --color-secondary-focus: var(--color-secondary-700);

  --color-background: var(--color-gray-100);
  --color-background-contrast: var(--color-gray-900);

  --color-success: #2dd36f;
  --color-success-hover: #97e6ad;
  --color-success-focus: #00ba49;
  --color-success-contrast: black;

  --color-warning: #ffc409;
  --color-warning-hover: #ffdd7b;
  --color-warning-focus: #ffae00;
  --color-warning-contrast: black;

  --color-danger: #eb445a;
  --color-danger-hover: #eb949f;
  --color-danger-focus: #e21e41;
  --color-danger-contrast: white;

  --color-disabled: var(--color-gray-100);
  --color-disabled-contrast: var(--color-gray-700);

  --border-none: 0px;
  --border-rounded: 0.25rem;
  --border-full: 9999px;
}

:root[data-color-scheme='dark'][data-theme='winter'] {
  color-scheme: dark;

  --color-gray-A: white;
  --color-gray-900: hsla(210, 17%, 98%, 1);
  --color-gray-800: hsla(210, 16%, 93%, 1);
  --color-gray-700: hsla(210, 14%, 89%, 1);
  --color-gray-600: hsla(210, 14%, 83%, 1);
  --color-gray-500: hsla(210, 11%, 71%, 1);
  --color-gray-400: hsla(208, 7%, 46%, 1);
  --color-gray-300: hsla(210, 9%, 31%, 1);
  --color-gray-200: hsla(210, 10%, 23%, 1);
  --color-gray-100: hsla(210, 11%, 15%, 1);
  --color-gray-0: black;
}

body {
  background: var(--color-background);
  color: var(--color-background-contrast);
}
