:root[data-theme="winter"] {
  color-scheme: light;
}

:root[data-color-scheme="dark"][data-theme="winter"] {
  color-scheme: dark;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}