.header {
  height: var(--header-height);
  position: sticky;
  top: 0;
  z-index: 1;
}

.content {
  position: relative;
  padding: var(--padding-edges) var(--padding-edges) 15px var(--padding-edges);
}

.title.link {
  padding: 0;
}

.title.link {
  font-size: 2rem;
  font-weight: bold;
}

@media (max-width: 480px) {
  .title.link {
    font-size: 1.5rem;
  }
}

.backdrop {
  position: absolute;
  inset: 0;
  /* Extend backdrop surface to the bottom */
  --extended-by: 100px;
  bottom: calc(-1 * var(--extended-by));
  /* Mask out the part falling outside the nav */
  --cutoff: calc(100% - var(--extended-by));

  --blur: 15px;
  -webkit-backdrop-filter: blur(var(--blur));
  backdrop-filter: blur(var(--blur));

  -webkit-mask-image: linear-gradient(
    to bottom,
    black 0,
    black var(--cutoff),
    transparent var(--cutoff)
  );
  mask-image: linear-gradient(
    to bottom,
    black 0,
    black var(--cutoff),
    transparent var(--cutoff)
  );

  pointer-events: none;
}
