.wrapper {
  --digit-size: 30px;
  --separator-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  width: calc(var(--digit-size) * 6 + var(--separator-size) * 2);
  overflow: hidden;
  position: relative;
  overflow-y: hidden;
  height: var(--digit-size);
  font-size: var(--digit-size);
}

@media (max-width: 480px) {
  .wrapper {
    --digit-size: 18px;
    --separator-size: 6px;
  }
}

.separator {
  width: var(--separator-size);
  display: flex;
  align-items: center;
  /* font-size: var(--digit-size); */
}

.number-wrapper {
  width: var(--digit-size);
}

.number {
  position: absolute;
  /* font-size: var(--digit-size); */
}
