.footer {
  height: var(--footer-height);
  position: relative;

  max-width: var(--main-max-width);
  margin: auto;
}

.footer-content {
  padding: 15px var(--padding-edges) var(--padding-edges) var(--padding-edges);
}

.footer-link {
  /* to tackle px-4 from button */
  margin-left: -16px;
}

.nav {
  margin-top: 10px;
}

.links-category {
  color: hsl(var(--muted-foreground));
}