.author-time {
  color: hsl(var(--muted-foreground));
}

.author {
  font-style: normal;
  font-weight: bold;
}

.heading {
  transition: var(--title-hover-color-transition);
  font-weight: 500;
}

.heading:hover {
  color: hsl(var(--primary));
}

.head.link {
  color: inherit;
  margin: inherit;
  padding: inherit;
  height: inherit;
  justify-content: flex-start;
}

.head.link:hover {
  text-decoration: none;
}

.abstract {
  margin-top: 0;
}
